body {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  /* entete */
  
  .tete {
    display: flex;
    margin-top: 5px;
  }
  .logo1 {
    height: 100px;
    width: 200px;
    float: left;
  }
  .logo1 img {
    height: 100%;
    width: 100%;
  }
  .teta {
    display: flex;
    top: 5px;
    width: 100%;
  }
  
  .texte h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(75, 2, 143);
  }
  
  /*formulaire entete*/
  .log {
    height: 50px;
    width: 200px;
    text-align: center;
  }
  .log img {
    height: 50px;
    width: 150px;
  }
  
  /* debut formulaire */
  .formu {
    margin-top: 3px;
    justify-content: center;
    display: flex;
    text-align: center;
    padding: 2rem;
  }
  .fofo {
    background-color: rgb(220, 217, 213);
    width: 450px;
    border-radius: 30px;
    opacity: 1;
  
    text-align: center;
    height: 300px;
  }
  .formu input {
    width: 220px;
    height: 25px;
    border-bottom: solid 1px #750202;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: black;
  }
  .inputnom {
    margin-left: 61px;
  }
  .inputprenom {
    margin-left: 41px;
  }
  .inputpasswords{
    margin-left: 36px;
  }
  .inputpasswords1 {
    margin-left: 5px;
  }
  
  
  .inputmail {
    margin-left: 50px;
  }
  
  .formu button {
    width: 80px;
    justify-content: space-around;
  }
  
  button {
    width: 80px;
    margin-top: 2rem;
    text-align: center;
    font-size: 15px;
    border: solid 1px #750202;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 60px;
    
    cursor: pointer;
    height: 28px;
  }
  a{
    text-decoration: none;
  }
  #fermer {
    background-color: #ee1212;
    border-radius: 20px;
  }
  #Valider {
    background-color: #129dee;
    border-radius: 20px;
  }
  .buton {
    margin-right: 50px;
    color:white;
    padding: 5px;
    text-align: center;
    
  }
  .buton1 {
    margin-left: 60px;
  }
  
  /* footer footer */
  .footer {
    height: 65px;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .foot {
    display: flex;
    justify-content: space-between;
    background-color: #750202;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  
  .p1 {
    /*float: left;*/
    margin-left: 5px;
  }
  .p2 {
   float: right;
    margin-right: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    /* //entete for mobile  */
    .tete {
      margin-top: 10px;
    }
    .teta {
      display: flex;
      justify-content: center;
  
      width: 100%;
    }
    .logo1 {
      height: 60px;
      width: 100px;
    }
    .logo1 img {
      height: 65px;
      width: 200px;
    }
  
    .texte h1 {
      font-size: 30px;
      margin-top: 25px;
      font-weight: bold;
      color: rgb(75, 2, 143);
    }
  
    /*formulaire meme en entete*/
    .log {
      height: 50px;
      width: 200px;
      text-align: center;
    }
    .log img {
      height: 50px;
      width: 150px;
    }
  
    /* debut formulaire */
    .formu {
      margin-top: 1rem;
      justify-content: center;
      display: flex;
      text-align: center;
      padding: 2rem;
    }
    .fofo {
      background-color: rgb(220, 217, 213);
      width: 350px;
      border-radius: 30px;
      opacity: 1;
      height: 350px;
    }
    .formu input {
      width: 125px;
      height: 20px;
      border: solid 1px #750202;
      border-radius: 2px;
      font-size: 12px;
      font-weight: bold;
      margin-top: 10px;
      color: black;
    }
    button {
      width: 75px !important;
      text-align: center;
      font-size: 12px !important;
      border: solid 1px #750202;
      border-radius: 10px;
      background-color: #750202;
      color: white;
      font-weight: bold;
      margin-top: 10px;
      padding: 5px;
      cursor: pointer;
    }
  
    /* footer for mobile */
    .footer {
      height: 75px;
      width: 100%;
      color: white;
      font-size: 15px;
      font-weight: bold;
    }
    .foot {
      display: flex;
      background-color: #750202;
      bottom: 0;
      position: absolute;
      width: 100%;
    }
    .footer {
      height: 75px;
      width: 100%;
      color: white;
      font-size: 15px;
      font-weight: bold;
    }
    .foot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #750202;
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  
    .p1 {
      position: absolute;
    }
  }
  