body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

/* entete */

.tete {
  display: flex;
  margin-top: 10px;
}
.logo1 {
  height: 65px;
  width: 150px;
  float: left;
}
.logo1 img {
  height: 100%;
  width: 100%;
}
.teta {
  display: flex;
  top: 10px;
  width: 100%;
  align-items: center;
}

.texte h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
  color: rgb(75, 2, 143);
}
/* .compte {
 
  margin-top: 10px;
  margin-left: 10px;
} */
.compteur {
  background-color: #750202 !important;
  color: white !important;
  font-size: 20px !important;
  height: 35px !important;
  font-weight: bold !important;
}

/* footer footer */
.footer {
  height: 30px;
  margin-top: 10px;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.foot {
  display: flex;
  justify-content: space-between;
  background-color: #750202;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.p1 {
  float: left;
}
.p2 {
  float: right;
}

/* table tableau*/
.tableau {
  width: 100%;
  height: 480px;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.bordure {
  border: 2px solid #750202;
  border-radius: 10px;
  width: 100%;
  height: 430px;
  overflow-y: auto;
  overflow-x: scroll;
}

table {
  border: #750202 solid 1px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  border-collapse: collapse;
}
table th {
  border: 1px solid #750202;
  background-color: #750202 !important;
  padding: 10px;
  top: 0;
  position: sticky;
  height: 40px !important;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 200px;
  text-align: center;
}
table td {
  border: 1px solid #750202;
  background-color: rgb(230, 230, 230) !important;
  padding: 10px;
  color: black;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  text-align: center;
}

table .mail {
  width: 350px;
}
table .compt {
  width: 100px;
}
table i {
  background-color: aqua;
  width: 30px;
  height: 30px;
  border-radius: 25%;
  padding: 5px;
  margin-left: 10px;
}
.fofofo {
  height: 40px !important;
}

@media only screen and (max-width: 768px) {
  /* //entete for mobile  */
  .tete {
    margin-top: 10px;
  }
  .teta {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .logo1 {
    height: 60px;
    width: 100px;
  }

  .logo1 img {
    height: 65px;
    width: 200px;
  }

  .texte h1 {
    font-size: 30px;
    margin-top: 25px;
    font-weight: bold;
    color: rgb(75, 2, 143);
  }
  .compteur {
    background-color: #750202 !important;
    color: white !important;
    font-size: 15px !important;
    height: 45px !important;
    width: 100px !important;
    float: left;
    font-weight: bold !important;
  }

  /* footer for mobile */
  .footer {
    height: 75px;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .foot {
    display: flex;
    background-color: #750202;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  .footer {
    height: 75px;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #750202;
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .p1 {
    position: absolute;
  }
}
